@font-face {
  font-family: "DINNextW01-Light"; 
  font-style: normal;
  font-weight: 400;
  src: local('DINNextW01-Light'), local('DINNextW01-Light'),
  url('fonts/9ae5e19516bc6428f1327ff3311b2617.woff2') format('woff2'),
  url('fonts/9ae5e19516bc6428f1327ff3311b2617.woff') format('woff');
}
